/*

!.bashrc
!.profile
!.nanorc
!.gitignore
!README.md

!bin/
!bin/**

!ros2_study/
!ros2_study/**

!tb3_pc_jazzy_ws/
!tb3_pc_jazzy_ws/**

!rpi5_b321
!rpi5_iptime
!mount*.*

!yhyee/
!yhyee/**

!rpi4_b321/
!rpi4_b321/**

!rpi5_headless_setup.sh
!tb3_rpi5_ros2_jazzy_install.sh

tb3_pc_jazzy_ws/build/
tb3_pc_jazzy_ws/install/
tb3_pc_jazzy_ws/log/
tb3_pc_ws/my_bag_data/

tb3_rpi5_ws/build/
tb3_rpi5_ws/install/
tb3_rpi5_ws/log/

*.pyc
__pycache__/

.cache/
.config/
.local/
.ssh/
.gnupg/
.mozilla/
.pki/
.vscode/
snap/
Downloads/
sd_backups/
venvs/

*.bag
*.db3
